@charset "utf-8";

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #333;
}

.wrap {
  width: 100%;
  display: flex;
  height: calc(100vh - 120px);
}

header {
  width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #664fad;
}

.logo {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  margin-right: 5px;
}

.menu {
  flex: 1;
  margin-left: -15px;
}

.stitle {
  height: 40px;
  display: flex;
  align-items: center;
}

.stitle:hover {
  background-color: #451;
}

.smenu {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 10px;
  border: 1px solid black;
}

.submenus {
  display: none;
}

.submenu:hover {
  background-color: #811;
}

.stitle {
  border-bottom: 1px solid black;
}

.contents {
  display: flex;
  flex: 1;
}

.content {
  width: 400px;
  display: flex;
  flex-direction: column;
}

.banner {
  flex: 0.2;
  display: flex;
}

.banner-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  margin-left: 15px !important;

  object-fit: cover;
}

.banner-arrow {
  display: flex;

  justify-content: center;
  align-items: center;
}

.banner-arrow img {
  width: 50px;
  height: 50px;

  object-fit: cover;
}

.notice {
  flex: 0.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.notice-tab {
  display: flex;
  justify-content: center;
  margin-left: 10px;
  width: 100px;
  border-top: 1px solid black;
}

.notice-titles {
  border: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
}

.notice-title {
  display: flex;
}

.notice-title a {
  flex: 0.7;
}

.notice-title:hover {
  background-color: #abc;
}

.notice-title p {
  flex: 0.3;
}

.gallery {
  flex: 0.4;
  display: flex;
  flex-direction: column;

  justify-content: center;
}

.gallery-tab {
  border-top: 1px solid black;
  width: 100px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-align: center;
}

.gallery-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.gal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.gal img {
  margin-top: 25px;
}

.shortcut {
  flex: 0.2;
  display: flex;

  align-items: center;
  justify-content: space-between;
  justify-items: spac;
  text-align: center;

  padding-left: 10px;
  padding-right: 10px;
}

.slides {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
  flex: 0 0 100%;
  min-height: 100%;
}

.slides img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slides p {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

footer {
  display: flex;
  height: 120px;
}

.blogo {
  width: 200px;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #664fad;
}

.blogo img {
  width: 100%;
}

.bcontent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #d4cfcf;
}

.bsite {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bsite a {
  padding: 0 8px;
}

.copyright {
  height: 60px;
  height: #744;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-30%, -70%);
  background-color: #9c63f7;
  width: 500px;
  height: 300px;
  display: none;
}

.modal-title {
  margin-bottom: 20px;
}

.modal-title h1 {
  color: white;
  display: flex;
  :center ;
}

.modal-content h4 {
  color: white;
}

.modal-cancel {
  margin-top: 130px;
  margin-left: 430px;
}

button {
  padding: 10px;
  background-color: purple;
  color: white;
}

