@charset "utf-8";

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  display: flex;
  flex-direction: column;
  max-width: 1340px;
  margin: 0 auto;
}

header {
  width: 1340px;
  height: 100px;
  display: flex;
  background-color: #111;
}

.logo {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #123;
}

.menu {
  margin-left: auto;
  margin-top: auto;
  background-color: #234;
  color: white;
  height: 80px;
  width: 800px;
}

.slides {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #345;
}

.content {
	height: 500px;
	background-color: #456;
	margin-top: -50px;
}

footer {
	display: flex;
}

.bdetail {
	width: 1000px;
	background-color: #567;
}

.bcontent {
	display: flex;
	flex-direction: column;
}

.sns {
	width: 340px;
	background-color: #678;
}

.site {
	width: 340px;
	background-color: #789;
}



