* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 700px;
}

header {
	display: flex;
}

.logo {
	width: 200px;
	height: 100px;
	background-color: #aaa;
}

.menu {
	flex: 1;
	height: 100px;
	background-color: #bbb;
}

.main {
	display: flex;
	flex-direction: column;
}

.slides {
	height: 300px;
	background-color: #ccc;
}

.content {
	display: flex;
}

.notice {
	width: 400px;
	background-color: #ddd;
	height: 200px;
}

.gallery {
	width: 400px;
	background-color: #eee;
	height: 200px;
}

.shortcut {
	width: 400px;
	background-color: #111;
	height: 200px;
}

footer {
	display: flex;
	height: 100px;
	width: 1200px;
}

.bcontent {
	display: flex;
	flex-direction: column;
	width: 200px;
}

.copyright {
	width: 1000px;
	background-color: #222;
}

.bcontent {
	width: 200px;
	background-color: #333;
}
