@charset "utf-8";

* {
  margin: 0 auto;
  padding: 0;
  color: #333;
  font-family: "맑은 고딕";
  width: 100%;
  /* box-sizing: border-box; */
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: #333;
}

header {
  margin-top: 10px;
  width: 1340px;
  height: 100px;
  display: flex;
  margin-left: 357px;
}

main {
  width: 1340px;
  height: 800px;
}

.logo {
  background-color: #999;
}

.navi {
  display: flex;
  z-index: 1;
  margin-top: 60px;
}

.menu {
  background-color: #888;
}

.navi > li {
  text-align: center;
}

.navi > li > a {
  font-weight: bold;
  text-align: center;
  border: 1px solid #123;
  width: 200px;
  height: 40px;
  display: block;
  line-height: 40px;
}

.submenu {
  display: none;
  position: relative;
  z-index: 1;
}

.submenu li {
  border: 1px solid blue;
}

.submenu li:hover {
  background-color: red;
}

.slides {
  width: 1500px;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.slides span {
  position: relative;
  display: block;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  width: 200px;
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 150px;
}

.links {
  height: 150px;
}

.banner {
  height: 300px;
}

.modal {
  display: none;
}

.modal.active {
  display: block;
}

.modal_cont {
  width: 350px;
}

footer {
  width: 1340px;
  height: 120px;
}
