@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #333;
}

html {
  width: 100%;
  background-color: #fff;
}

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

header {
  height: 100px;
  width: 1340px;
  background-color: #999;
  display: flex;
  align-items: center;
}

.logo {
}

.menu {
  margin: 0 auto;
}

main {
  width: 100%;
}

.slides {
  height: 350px;
  background-color: #888;
  align-items: center;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
}

.contents {
  height: 350px;
  width: 1340px;
  background-color: #777;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.bt {
  height: 100px;
  width: 1340px;
  background-color: #666;
}
