@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: #333;
}

html {
  width: 100%;
  background-color: #fff;
}

body {
  width: 100%;
}

.wrapper {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

header {
  height: 100px;
  width: 1340px;
  display: flex;
  align-items: center;
}

.logo {
}

.menu {
  margin: 0 auto;
  z-index: 1;
}

.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  padding: 10px;
}

.main-menu > li {
  position: relative;
  width: 200px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: rgb(33, 84, 135);
  color: #666;
}

.main-menu > li > a {
  display: block;
  padding: 10px;
}

.main-menu > li:hover {
  background-color: #7297db;
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #7297db;
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

.sub-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.sub-menu > li > a {
  border: 1px solid #000;
  width: 200px;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.sub-menu > li > a:hover {
  background-color: #ad49b8;
}

main {
  width: 100%;
}

.slides {
  overflow: hidden;
  height: 350px;
}

.slide {
  height: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  transition: transform 0.6s ease-in-out;
}

.slide.no-transition {
  transition: none;
}

.slides img {
  width: 100%;
  height: 100%;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
}

.contents {
  height: 350px;
  width: 1340px;
  background-color: #777;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.bt {
  height: 100px;
  width: 1340px;
  background-color: #666;
}
