@charset "utf-8";

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #333333;
}

html,
body {
  min-width: 1200px;
  background-color: #ffffff;
  font-size: 20px;
}

a {
  text-decoration: none;
  display: block;
}

header {
  width: 100%;
  height: 100px;
  background: #dddddd;
}

.wrap {
  width: 1200px;
}

.logo {
  float: left;
  width: 250px;
  height: 100px;
}

.menu {
  float: right;
  width: 800px;
  height: 100px;
}

.navi {
  float: right;
  margin-top: 30px;
  margin-right: 10px;
}

.navi > li {
  float: left;
}

.navi > li > a {
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #333333;
  color: #ffffff;
}

.navi > li > a:hover {
  background-color: #30a3f3;
}

.submenu {
  width: 180px;
  position: absolute;
  display: none;
  z-index: 1;
}

.submenu > li > a {
  height: 40px;
  line-height: 40px;
  font-style: 14px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  color: #333333;
}

.submenu > li > a:hover {
  background-color: #30a3f3;
}

.bodywrap {
  width: 1200px;
  height: 500px;
}

.imgslide {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.slidelist {
  height: 900px;
}

.slidelist ul li {
  height: 300px;
  float: left;
}

.slidelist span {
  width: 500px;
  height: 50px;
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 50px;
  background-color: rgba(40, 40, 40, 0.5);
  margin-left: 350px;
  margin-top: 125px;
}

.contents {
  float: left;
  width: 1200px;
  height: 200px;
  position: absolute;
  margin: auto;
}

.tabmenu {
  float: left;
  width: 395px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tabmenu > li {
  float: left;
  width: 100px;
  line-height: 30px;
}

.tabmenu > li > a {
  display: block;
  font-style: 16px;
  text-align: center;
  background-color: #cccccc;
  border: 1px solid #dddddd;
  border-bottom: none;
}

.tabmenu > li > a:hover {
  background-color: #eeeeee;
}

.tabmenu > li:first-child a {
  border-right: none;
}

.tabmenu > li.active > a {
  background-color: #ffffff;
}

.tabmenu > li div {
  position: absolute;
  left: 0px;
  height: 0px;
  overflow: hidden;
}

.tabmenu > li.active div {
  width: 393px;
  height: 148px;
  border: 1px solid #dddddd;
  z-index: 1;
}

.notice ul {
  float: left;
  width: 393px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.notice li {
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.notice li:nth-child(2n) {
  background-color: #cccccc;
}

.notice li span {
  float: right;
}

.notice li:hover {
  font-weight: bold;
}

.gallery li {
  float: left;
  margin-top: 15px;
  margin-left: 5px;
}

.gallery img {
  width: 100px;
  height: 100px;
  padding: 10px;
}

.gallery li:hover {
  opacity: 0.5;
}

.otherwrap {
  float: right;
  width: 800px;
  height: 200px;
}

.banner {
  float: left;
  width: 395px;
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.banner img {
  float: left;
  width: 395px;
  height: 180px;
}

.bntext {
  float: left;
  width: 300px;
  height: 40px;
  position: absolute;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  line-height: 40px;
  background-color: rgba(40, 40, 40, 0.3);
  left: 450px;
  top: 80px;
}

.banner img:hover {
  opacity: 0.5;
}

.shortcut {
  float: right;
  width: 395px;
  height: 180px;
}

.sctext {
  float: left;
  width: 300px;
  height: 40px;
  position: absolute;
  left: 850px;
  top: 80px;
  color: #ffffff;
  background-color: rgba(40, 40, 40, 0.3);
  font-weight: bold;
  text-align: center;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #30a3f3;
}

.btlogo {
  float: left;
  width: 200px;
  height: 100px;
}

.btlogo img {
  float: left;
  width: 200px;
  height: 80px;
  margin-top: 10px;
  margin-left: 25px;
}

.copy {
  float: left;
  width: 800px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  line-height: 100px;
}

.sns {
  float: right;
  width: 200px;
  height: 100px;
}

.sns ul {
  float: right;
  margin-right: 10px;
  margin-top: 20px;
}

.sns li {
  display: inline-block;
}

.sns img {
  width: 40px;
  height: 40px;
  padding: 5px;
}

.sns img:hover {
  opacity: 0.5;
}
