@charset "utf-8";

* {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  font-family: "맑은 고딕";
  color: #333;
}

html,
body {
  background-color: #fff;
  min-width: 1200px;
  font-size: 20px;
}

a {
  text-decoration: none;
  display: block;
}

header {
  width: 100%;
  height: 100px;
}

.wrap {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.wrap > div {
  flex: 1 1 0;
}

.logo {
  width: 250px;
}

.menu {
  width: 800px;
  z-index: 1;
  height: 100px;
}

.navi {
  display: flex;
  margin-top: 50px;
  margin-right: 0px;
}

.navi > li {
}

.navi > li > a {
  width: 200px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #333;
  color: #fff;
}

.navi > li > a:hover {
  background-color: #fff;
  color: #333;
}

.submenu {
  text-align: center;
  display: none;
}

.submenu > li > a {
  background-color: #777;
}

.submenu > li > a:hover {
  background-color: #fff;
  color: #333;
}

.imgslide {
  width: 1200px;
  height: 300px;
  position: relative;
  overflow: hidden;
}

.imgslide > a {
  position: absolute;
  display: block;
}

.imgText {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -10px -180px;
  background: rgba(0, 102, 173, 0.4);
  color: #ffffff;
  padding: 20px 100px;
  font-weight: bold;
}

.contents {
  display: flex;
  width: 1200px;
  height: 200px;
  background-color: #777;
  justify-content: space-between;
}

.notice .tab {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #fff;
}

.notice > h4 {
  font-weight: bold;
  color: #fff;
  background-color: #333;
}

.notice span {
  margin-left: 5px;
  margin-right: 5px;
}

.notice > ul > li > a {
  line-height: 33x;
  font-size: 18px;
  height: 32px;
}

.notice li:nth-child(2n) {
  background-color: #fff;
}

.notice li:hover {
  background-color: aquamarine;
}

.gallery > .tab {
  border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #fff;
}

.gallery ul {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.contents > div {
  flex: 1 1 0;
}

.shortcut a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.sctext {
  position: absolute;
  color: white;
  font-weight: bold;
  background-color: #333;
  width: 300px;
  text-align: center;
}

#modalWrap {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

#modalWrap.active {
  display: block;
}

.modal {
  position: fixed;
  width: 350px;
  padding: 20px;
  top: 40%;
  left: 40%;
  background-color: #fff;
}

.modal > h1 {
  text-align: center;
}

.modal > {
  text-align: justify;
}

.btn {
  width: 100%;
  padding: 10px;
}

footer {
  width: 1200px;
  height: 100px;
  background-color: #888;
  display: flex;
  justify-content: flex-start;
}

footer > div {
  flex: 1 1 0;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.btmenu {
  margin-top: 15px;
  display: flex;
}

.site {
  width: 200px;
}

.familysite {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
